
h1 {

    font-family: Orbitron;
   text-align: center; 
   font-size: 100px; 

}
h2 {
   text-align: center; 


}
p  {
    
    font-size: 20px;
    color: white;
    
}


html {
   
    background-color: gray;
}

#alien {
    float: right;
    width: 300px;
    height: 300px;
    
    
}

#superhero {
    
   height: 200px;
    width: 200px;
    
}

.movie {
    margin: 5cm 5cm 5cm 5cm;
    text-align: center;
   
}



