
h1 {

    font-family: Orbitron;
   text-align: center; 
   font-size: 100px; 

}

p  {
    font-size: 20px;

    
}

html {
    background:url(http://img01.deviantart.net/0155/i/2013/064/b/8/background_space_by_billyfabiancow-d5x321d.png) no-repeat;
}



